<div id="images" class="tab" style="display:none;">
    <div class="image-list" style="width: 1000px; margin:auto; margin-top: 10px;">
        <%for(let image of images) {%>
            <img src="<%=image%>" width="300" height="300" alt="" style="margin-top: 5px;"/>
        <%}%>
    </div>
</div>